In [1]:
import pandas as pd

In [3]:
density = [
    {'Country': 'China', 'Density (P/Km2)': 153 },
    {'Country': 'United States', 'Density (P/Km2)': 36 },
    {'Country': 'India', 'Density (P/Km2)': 464 },
    {'Country': 'Indonesia', 'Density (P/Km2)': 151 },
    {'Country': 'Pakistan', 'Density (P/Km2)': 287 }
]

stats = [
    {'Country': 'China', 'Total Cases':83102,'Population':1_439_323_776},
    {'Country': 'USA', 'Total Cases':2162228,'Population': 330_917_584},
    {'Country': 'Indonesia', 'Total Cases':38277,'Population': 273_389_783},
    {'Country': 'Pakistan', 'Total Cases':139230,'Population': 220_673_722}
]

In [7]:
df_den= pd.DataFrame(density)
df_stats = pd.DataFrame(stats)
df_stats['Total Cases']

0      83102
1    2162228
2      38277
3     139230
Name: Total Cases, dtype: int64

In [17]:
# add a column to the DF 
# we can use pd.assign -> this method creates a new DF

df_den = df_den.assign(Date = '08-07-2020', Time = '11:35')

In [18]:
df_den.dtypes

Country            object
Density (P/Km2)     int64
Date               object
Time               object
dtype: object

In [19]:
df_den

         Country  Density (P/Km2)        Date   Time
0          China              153  08-07-2020  11:35
1  United States               36  08-07-2020  11:35
2          India              464  08-07-2020  11:35
3      Indonesia              151  08-07-2020  11:35
4       Pakistan              287  08-07-2020  11:35

In [20]:
# use pd.to_datetime to make a date object from the string'08/07/2020'
pd.to_datetime('08/07/2020')
# this will return timestamp object 
# and will assume the american date format mm/dd/yy

Timestamp('2020-08-07 00:00:00')

In [23]:
pd.to_datetime('08/07/2020',format = '%d/%m/%Y')

Timestamp('2020-07-08 00:00:00')

In [24]:
pd.to_datetime('14-6-20',format = '%d-%m-%y')

Timestamp('2020-06-14 00:00:00')

In [45]:
# adding a literal string as a year parameter 
day_month = '14-6'
pd.to_datetime(day_month +'20',format = '%d-%m%y')

Timestamp('2020-06-14 00:00:00')

In [51]:
# Try to make a date from '140620','2020-3-3' and '2 3 2020'
print(pd.to_datetime('140620',format = '%d%m%y'))
print(pd.to_datetime('2020-3-3',format = '%Y-%m-%d'))
print(pd.to_datetime('2 3 2020',format = '%d %m %Y'))

2020-06-14 00:00:00
2020-03-03 00:00:00
2020-03-02 00:00:00

In [52]:
# 08/07/2020
today = pd.to_datetime("08/07/2020", format = '%d/%m/%Y')
type(today)

pandas._libs.tslibs.timestamps.Timestamp

In [53]:
# So what can we do with Timestamp (like a datetime object)
# We can get the day, month, year etc from Timestamp object
# Using various properties of the Timestamp object
print(today.month) # month property
print(today.day) # day property
print(today.year) # week property
print(today.week)

7
8
2020
28

In [54]:
pd.Timestamp.today() == pd.Timestamp.now()

True

In [63]:
print(pd.Timestamp.today().day_name() )
print(pd.Timestamp.now() )

Wednesday
2020-07-08 13:18:16.918830

In [60]:
pd.Timestamp.today().normalize()

Timestamp('2020-07-08 00:00:00')

In [61]:
pd.Timestamp.today().floor('D')

Timestamp('2020-07-08 00:00:00')

In [66]:
# adding a date column to the stats DF
today= pd.to_datetime('8/7/2020', format = '%d/%m/%Y')
df_stats=df_stats.assign(Date = today)

In [67]:
df_stats

     Country  Total Cases  Population       Date
0      China        83102  1439323776 2020-07-08
1        USA      2162228   330917584 2020-07-08
2  Indonesia        38277   273389783 2020-07-08
3   Pakistan       139230   220673722 2020-07-08