In [1]:
import pandas as pd
import numpy as np

In [2]:
# Create some dataframes
# Make two small dataframes from two lists of dictionarys

density = [
    {'Country':'China','Density (P/Km2)':153},
    {'Country':'United States','Density (P/Km2)':36},
    {'Country':'India','Density (P/Km2)':464},
    {'Country':'Indonesia','Density (P/Km2)':151},
    {'Country':'Pakistan','Density (P/Km2)':287},
    {'Country':'Antartica','Density (P/Km2)':0}
]

stats = [
    {'Country':'China','Total Cases':83102 , 'Population':1_439_323_776},
    {'Country':'USA','Total Cases':2162228 , 'Population':330_917_584},
    {'Country':'Indonesia','Total Cases':38277 , 'Population':273_389_783},
    {'Country':'Pakistan','Total Cases':139230 , 'Population':220_673_722}    
]

df_density = pd.DataFrame(density)
df_stats = pd.DataFrame(stats)

In [3]:
df_density

         Country  Density (P/Km2)
0          China              153
1  United States               36
2          India              464
3      Indonesia              151
4       Pakistan              287
5      Antartica                0

In [4]:
df_stats

     Country  Total Cases  Population
0      China        83102  1439323776
1        USA      2162228   330917584
2  Indonesia        38277   273389783
3   Pakistan       139230   220673722

#### Find the row details of India from the df_density df

In [5]:
df_density[ df_density["Country"] == "India" ]

  Country  Density (P/Km2)
2   India              464

#### Find the rows where the country is India or Pakistan

In [6]:
df_density[ (df_density["Country"] == "India") | (df_density["Country"] == "Pakistan")]

    Country  Density (P/Km2)
2     India              464
4  Pakistan              287

In [7]:
# What does the filter actual produce?
(df_density["Country"] == "India") | (df_density["Country"] == "Pakistan")

0    False
1    False
2     True
3    False
4     True
5    False
Name: Country, dtype: bool

In [8]:
# Dataframes allow Boolean indexing
df_density[[True,False,True,False,True,False] ]

    Country  Density (P/Km2)
0     China              153
2     India              464
4  Pakistan              287

#### Tilde ~
~ Tilde is an operator that 'Inverts' (flips) boolean value

In [9]:
False

False

In [10]:
# An ndarray of 3 boolean values
bools= np.array([True,False,True])
bools

array([ True, False,  True])

In [11]:
~bools

array([False,  True, False])

In [12]:
values1 = pd.Series([True,False,True])
values1

0     True
1    False
2     True
dtype: bool

In [13]:
~values1

0    False
1     True
2    False
dtype: bool

#### Find the rows that are not India from the df_density df

In [14]:
(df_density["Country"] == "India")

0    False
1    False
2     True
3    False
4    False
5    False
Name: Country, dtype: bool

In [15]:
# Invert all thr booleans in the Series
~(df_density["Country"] == "India")

0     True
1     True
2    False
3     True
4     True
5     True
Name: Country, dtype: bool

In [16]:
# Using boolean indexing to filter the rows to find the ones where the country is not India
df_density[~(df_density["Country"] == "India") ]

         Country  Density (P/Km2)
0          China              153
1  United States               36
3      Indonesia              151
4       Pakistan              287
5      Antartica                0

In [17]:
# Find all the rows where the Country is in the list "India", "USA","Germany","Antartica"
# This will result in a pandas series of boolean values
boolean_filter1 = df_density["Country"].isin(["India", "China","Germany","Antartica"]) # Booleans for indexing
boolean_filter1

0     True
1    False
2     True
3    False
4    False
5     True
Name: Country, dtype: bool

In [18]:
# Anwser to the actual query above is....
df_density[boolean_filter1]

     Country  Density (P/Km2)
0      China              153
2      India              464
5  Antartica                0

Find all the rows where the Country is **not** in the list "India", "USA","Germany","Antartica"

In [19]:
df_density[~boolean_filter1]

         Country  Density (P/Km2)
1  United States               36
3      Indonesia              151
4       Pakistan              287

In [20]:
df_density

         Country  Density (P/Km2)
0          China              153
1  United States               36
2          India              464
3      Indonesia              151
4       Pakistan              287
5      Antartica                0

In [21]:
df_stats

     Country  Total Cases  Population
0      China        83102  1439323776
1        USA      2162228   330917584
2  Indonesia        38277   273389783
3   Pakistan       139230   220673722

In [22]:
# Make a merged dataframe based on the country column
# Find all details/for for countries where the country name is not the list USA, India 
# or Pakistan and also where the popultion is less than 1 billion
# Using tilde and the isin() function

In [23]:
merged_df = pd.merge(df_density, df_stats,on="Country",how="inner")
merged_df

     Country  Density (P/Km2)  Total Cases  Population
0      China              153        83102  1439323776
1  Indonesia              151        38277   273389783
2   Pakistan              287       139230   220673722

In [24]:
# find all the countries where the names is either "USA","India","Pakistan"
merged_df[ merged_df["Country"].isin(["USA","India","Pakistan"]) ]

    Country  Density (P/Km2)  Total Cases  Population
2  Pakistan              287       139230   220673722

In [25]:
# find all the countries where the names are NOT in the list "USA","India","Pakistan"
# Use tilde to invert the boolean series/filter
merged_df[ ~(merged_df["Country"].isin(["USA","India","Pakistan"])) ]

     Country  Density (P/Km2)  Total Cases  Population
0      China              153        83102  1439323776
1  Indonesia              151        38277   273389783

In [26]:
# find all the countries where the names is NOT in the list "USA","India","Pakistan"
# and also where the popultion is less than 1 billion
merged_df[ ~(merged_df["Country"].isin(["USA","India","Pakistan"])) & (merged_df["Population"] < 1_000_000_000 ) ]

     Country  Density (P/Km2)  Total Cases  Population
1  Indonesia              151        38277   273389783

In [27]:
df_density

         Country  Density (P/Km2)
0          China              153
1  United States               36
2          India              464
3      Indonesia              151
4       Pakistan              287
5      Antartica                0

In [28]:
df_stats

     Country  Total Cases  Population
0      China        83102  1439323776
1        USA      2162228   330917584
2  Indonesia        38277   273389783
3   Pakistan       139230   220673722

In [29]:
merged_df

     Country  Density (P/Km2)  Total Cases  Population
0      China              153        83102  1439323776
1  Indonesia              151        38277   273389783
2   Pakistan              287       139230   220673722

In [33]:
# Find all the countries in the df_density dataframe 
# that are not in the merged_df dataframe

# Filter the df_density dataframe to find all the common countries
# isin(values) <- Values is a list/iterable list of values
# Find all the rows in the df_density dataframe where the list of countries is
# the df_density dataframe
# Filter to find all the countries that are common to both df
filter4 = df_density["Country"].isin(merged_df["Country"])
# Use the inverted/flipped fitler to find the countries not common to both df's
df_density[~filter4]

         Country  Density (P/Km2)
1  United States               36
2          India              464
5      Antartica                0

In [35]:
# Find all the countries in the df_stats df that are not in the merged_df
# (We could say we are finding countries *not* common to both df's)
filter5 = (df_stats["Country"].isin(merged_df["Country"]))

# merged_df[~filter5] # Should be the df_stats DataFrame
df_stats[~filter5]

  Country  Total Cases  Population
1     USA      2162228   330917584