In [4]:
density = [
    {'Country': 'China', 'Density (P/Km2)': 153 },
    {'Country': 'United States', 'Density (P/Km2)': 36 },
    {'Country': 'India', 'Density (P/Km2)': 464 },
    {'Country': 'Indonesia', 'Density (P/Km2)': 151 },
    {'Country': 'Pakistan', 'Density (P/Km2)': 287 }
]

stats = [
    {'Country': 'China', 'Total Cases':83102,'Population':1_439_323_776},
    {'Country': 'USA', 'Total Cases':2162228,'Population': 330_917_584},
    {'Country': 'Indonesia', 'Total Cases':38277,'Population': 273_389_783},
    {'Country': 'Pakistan', 'Total Cases':139230,'Population': 220_673_722}
]

In [2]:
import pandas as pd
df_density = pd.DataFrame(density)
df_stats = pd.DataFrame(stats)

In [4]:
df_density

         Country  Density (P/Km2)
0          China              153
1  United States               36
2          India              464
3      Indonesia              151
4       Pakistan              287

In [5]:
df_stats

     Country  Total Cases  Population
0      China        83102  1439323776
1        USA      2162228   330917584
2  Indonesia        38277   273389783
3   Pakistan       139230   220673722

### find the row details for India

In [6]:
 filt = df_density ['Country'] == 'India'

In [7]:
df_density[filt]

  Country  Density (P/Km2)
2   India              464

### or  this way

In [8]:
df_density[df_density ['Country'] == 'India']

  Country  Density (P/Km2)
2   India              464

In [9]:
df_density [  (df_density['Country'] == 'India') | (df_density['Country'] == 'Pakistan')]

    Country  Density (P/Km2)
2     India              464
4  Pakistan              287

In [10]:
filt2 = (df_density ['Country'] == 'India') | (df_density ['Country'] == 'Pakistan')

In [11]:
df_density[filt2]

    Country  Density (P/Km2)
2     India              464
4  Pakistan              287

In [12]:
df_density.loc[filt2]

    Country  Density (P/Km2)
2     India              464
4  Pakistan              287

# Tilde ~

- tilde is an operator that 'Inverts' boolean value

In [13]:
import numpy as np
bools = np.array([True,False,True])
bools

array([ True, False,  True])

In [14]:
~bools

array([False,  True, False])

In [15]:
#to get everything except India
df_density[~filt]

         Country  Density (P/Km2)
0          China              153
1  United States               36
3      Indonesia              151
4       Pakistan              287

In [16]:
df_density[~(df_density ['Country'] == 'India')]

         Country  Density (P/Km2)
0          China              153
1  United States               36
3      Indonesia              151
4       Pakistan              287

In [17]:
# Find all the rows where the Coountry is in the list 'India','China','Germany','Antarctica'

df_density['Country'].isin(['India','China','Germany','Antarctica'])

#this will result in Pandas series of boolean values

0     True
1    False
2     True
3    False
4    False
Name: Country, dtype: bool

In [18]:
# creating and applying the filter to get the values coresponding to True in above example 

country_filter = df_density['Country'].isin(['India','China','Germany','Antarctica'])
df_density[country_filter]

  Country  Density (P/Km2)
0   China              153
2   India              464

In [19]:
# Make a merged dataframe based on the country column
merged = pd.merge(df_density,df_stats)
# Find all details/for for countries where the country name is not the list USA, India 
# or Pakistan and also where the popultion is less than 1 billion
# Using tilde and the isin() function

fil_country = merged['Country'].isin(['USA', 'India' ,'Pakistan']) 

merged[fil_country]

    Country  Density (P/Km2)  Total Cases  Population
2  Pakistan              287       139230   220673722

In [20]:
fil_country = ~ merged['Country'].isin(['USA', 'India' ,'Pakistan']) 
fil_country

0     True
1     True
2    False
Name: Country, dtype: bool

In [21]:
fil_pop = merged['Population'] < 1_000_000_000
merged[fil_pop]

     Country  Density (P/Km2)  Total Cases  Population
1  Indonesia              151        38277   273389783
2   Pakistan              287       139230   220673722

In [22]:
exercise =  (~merged['Country'].isin(['USA', 'India' ,'Pakistan']))  & ( merged['Population'] < 1_000_000_000)
merged[exercise]

     Country  Density (P/Km2)  Total Cases  Population
1  Indonesia              151        38277   273389783

In [23]:
#find all the countries in the df_density that are not in the merged DataFrame
# first we find the onse that are in and then we use TILDA
df_density [ df_density ['Country'].isin (merged ['Country'])  ]

NotIn = df_density [ ~ ( df_density ['Country'].isin (merged ['Country']) ) ]
merged['Country']

0        China
1    Indonesia
2     Pakistan
Name: Country, dtype: object

In [24]:
NotIn

         Country  Density (P/Km2)
1  United States               36
2          India              464

### what countries  from ds_stats  are not in our merged df

In [25]:
df_stats

     Country  Total Cases  Population
0      China        83102  1439323776
1        USA      2162228   330917584
2  Indonesia        38277   273389783
3   Pakistan       139230   220673722

In [26]:
merged

     Country  Density (P/Km2)  Total Cases  Population
0      China              153        83102  1439323776
1  Indonesia              151        38277   273389783
2   Pakistan              287       139230   220673722

In [31]:
# firstly find the common countries
common = df_stats [ df_stats ['Country'].isin ( merged ['Country'])  ]
not_common = df_stats [ ~( df_stats ['Country'].isin ( merged ['Country'])  )]
common
#df_stats[common]
#apply tilda to it 
#df_stats[~ common]

     Country  Total Cases  Population
0      China        83102  1439323776
2  Indonesia        38277   273389783
3   Pakistan       139230   220673722

In [ ]:
not_common