#### Read Mutliple Excel sheets in to a single DataFrame Dictionary

In [22]:
import pandas as pd

In [23]:
xls = pd.ExcelFile("Coronavirus data.xlsx")

In [24]:
# View the sheets in the Excel file
xls.sheet_names

['Population',
 'Continents',
 'Jan',
 'Feb',
 'Mar 1-13',
 '14-3',
 '15-3',
 '16-3',
 '17-3',
 '18-3',
 '19-3',
 '20-3',
 '21-3',
 '22-3',
 '23-3',
 '24-3',
 '25-3',
 '26-3',
 '27-3',
 '28-3',
 '29-3',
 '30-3',
 '31-3',
 '1-4',
 '2-4',
 '3-4',
 '4-4',
 '5-4',
 '6-4',
 '7-4',
 '8-4',
 '9-4',
 '10-4',
 '11-4',
 '12-4',
 '13-4',
 '14-4',
 '15-4',
 '16-4',
 '17-4',
 '18-1',
 '19-4',
 '20-4',
 '21-4',
 '22-4',
 '23-4',
 '24-4',
 '25-4',
 '26-4',
 '27-4',
 '28-4',
 '29-4',
 '30-4',
 '1-5',
 '2-5',
 '3-5',
 '4-5',
 '5-5',
 '6-5',
 '7-5',
 '8-5',
 '9-5',
 '10-5',
 '11-5',
 '12-5',
 '13-5',
 '14-5',
 '15-5',
 '16-5',
 '17-5',
 '18-5',
 '19-5',
 '20-5',
 '21-5',
 '22-5',
 '23-5',
 '24-5',
 '25-5',
 '26-5',
 '27-5',
 '28-5',
 '29-5',
 '30-5',
 '31-5',
 '1-6',
 '2-6',
 '3-6',
 '4-6',
 '5-6',
 '6-6',
 '7-6',
 '8-6',
 '9-6',
 '10-6',
 '11-6',
 '12-6',
 '13-6',
 '14-6']

In [55]:
# Import the first the sheet only
first_sheet = pd.read_excel(xls, header=[0,1])

In [28]:
first_sheet

,Unnamed: 0_level_0,Country (or dependency),Population,Yearly,Net,Density,Land Area,Migrants,Fert.,Med.,Urban,World
,Unnamed: 0_level_1,Unnamed: 1_level_1,-2020,Change,Change,(P/Km²),(Km²),(net),Rate,Age,Pop %,Share
0,1,China,1439323776,0.0039,5540090,153,9388211,-348399.0,1.7,38,0.61,0.1847
1,2,India,1380004385,0.0099,13586631,464,2973190,-532687.0,2.2,28,0.35,0.1770
2,3,United States,331002651,0.0059,1937734,36,9147420,954806.0,1.8,38,0.83,0.0425
3,4,Indonesia,273523615,0.0107,2898047,151,1811570,-98955.0,2.3,30,0.56,0.0351
4,5,Pakistan,220892340,0.0200,4327022,287,770880,-233379.0,3.6,23,0.35,0.0283
...,...,...,...,...,...,...,...,...,...,...,...,...
230,231,Montserrat,4992,0.0006,3,50,100,NaN,N.A.,N.A.,0.1,0.0000
231,232,Falkland Islands,3480,0.0305,103,0,12170,NaN,N.A.,N.A.,0.66,0.0000
232,233,Niue,1626,0.0068,11,6,260,NaN,N.A.,N.A.,0.46,0.0000
233,234,Tokelau,1357,0.0127,17,136,10,NaN,N.A.,N.A.,0,0.0000
234,235,Holy See,801,0.0025,2,2003,0,NaN,N.A.,N.A.,N.A.,0.0000

In [31]:
# Read the sheet called '20-3'
df_20_3 = pd.read_excel(xls,sheet_name="20-3")
df_20_3

,"Country,",Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Serious/Critical,Total Cases/ 1M pop
0,China,81008,41.0,3255.0,7.0,71740.0,6013,1927.0,56.00
1,Italy,47021,5986.0,4032.0,627.0,5129.0,37860,2655.0,778.00
2,Spain,21571,3494.0,1093.0,262.0,1588.0,18890,939.0,461.00
3,Germany,19848,4528.0,68.0,24.0,180.0,19600,2.0,237.00
4,Iran,19644,1237.0,1433.0,149.0,6745.0,11466,NaN,234.00
...,...,...,...,...,...,...,...,...,...
182,Somalia,1,NaN,NaN,NaN,NaN,1,NaN,0.06
183,St. Vincent Grenadines,1,NaN,NaN,NaN,NaN,1,NaN,9.00
184,Vatican City,1,NaN,NaN,NaN,NaN,1,NaN,1248.00
185,Zimbabwe,1,1.0,NaN,NaN,NaN,1,NaN,0.07
186,Total:,275597,30664.0,11387.0,1356.0,91573.0,172637,7911.0,35.40

In [57]:
# Read multiple sheets at once as dictionary of Dataframes
multple_sheets_1 = pd.read_excel(xls,sheet_name=["20-3","21-3","22-3","23-3","24-3"]) # Can use list of int's or strings

In [33]:
type(multple_sheets_1)

dict

In [41]:
multple_sheets_1 # {"key1" : df1 , "key2" : df2, .......}

{'20-3':                    Country,  Total Cases  New Cases  Total Deaths  New Deaths  \
 0                     China        81008       41.0        3255.0         7.0
 1                     Italy        47021     5986.0        4032.0       627.0
 2                     Spain        21571     3494.0        1093.0       262.0
 3                   Germany        19848     4528.0          68.0        24.0
 4                      Iran        19644     1237.0        1433.0       149.0
 ..                      ...          ...        ...           ...         ...
 182                 Somalia            1        NaN           NaN         NaN
 183  St. Vincent Grenadines            1        NaN           NaN         NaN
 184            Vatican City            1        NaN           NaN         NaN
 185                Zimbabwe            1        1.0           NaN         NaN
 186                  Total:       275597    30664.0       11387.0      1356.0

      Total Recovered  Active Cases  Serious/Critical  Total Cases/ 1M pop
 0            71740.0          6013            1927.0                56.00
 1             5129.0         37860            2655.0               778.00
 2             1588.0         18890             939.0               461.00
 3              180.0         19600               2.0               237.00
 4             6745.0         11466               NaN               234.00
 ..               ...           ...               ...                  ...
 182              NaN             1               NaN                 0.06
 183              NaN             1               NaN                 9.00
 184              NaN             1               NaN              1248.00
 185              NaN             1               NaN                 0.07
 186          91573.0        172637            7911.0                35.40

 [187 rows x 9 columns],
 '21-3':          Country,  Total Cases  New Cases  Total Deaths  New Deaths  \
 0           China        81054       46.0        3261.0         6.0
 1           Italy        59138     5560.0        5476.0       651.0
 2             USA        33546     9339.0         419.0       117.0
 3           Spain        28768     3272.0        1772.0       391.0
 4         Germany        24873     2509.0          94.0        10.0
 ..            ...          ...        ...           ...         ...
 189         Syria            1        1.0           NaN         NaN
 190   Timor-Leste            1        NaN           NaN         NaN
 191        Uganda            1        NaN           NaN         NaN
 192  Vatican City            1        NaN           NaN         NaN
 193        Total:       337430    32440.0       14638.0      1631.0

      Total Recovered  Active Cases  Serious/Critical  Total Cases/ 1M pop
 0            72440.0          5353            1845.0                56.00
 1             7024.0         46638            3000.0               978.00
 2              178.0         32949             795.0               101.00
 3             2575.0         24421            1785.0               615.00
 4              266.0         24513              23.0               297.00
 ..               ...           ...               ...                  ...
 189              NaN             1               NaN                 0.06
 190              NaN             1               NaN                 0.80
 191              NaN             1               NaN                 0.02
 192              NaN             1               NaN              1248.00
 193          98364.0        224428           10649.0                43.30

 [194 rows x 9 columns],
 '22-3':          Country,  Total Cases  New Cases  Total Deaths  New Deaths  \
 0           China        81054       46.0        3261.0         6.0
 1           Italy        59138     5560.0        5476.0       651.0
 2             USA        33546     9339.0         419.0       117.0
 3           Spain        28768     3272.0        1772.0       391.0
 4         Germany        24873     2509.0          94.0        10.0
 ..            ...          ...        ...           ...         ...
 189         Syria            1        1.0           NaN         NaN
 190   Timor-Leste            1        NaN           NaN         NaN
 191        Uganda            1        NaN           NaN         NaN
 192  Vatican City            1        NaN           NaN         NaN
 193        Total:       337430    32440.0       14638.0      1631.0

      Total Recovered  Active Cases  Serious/Critical  Total Cases/ 1M pop
 0            72440.0          5353            1845.0                56.00
 1             7024.0         46638            3000.0               978.00
 2              178.0         32949             795.0               101.00
 3             2575.0         24421            1785.0               615.00
 4              266.0         24513              23.0               297.00
 ..               ...           ...               ...                  ...
 189              NaN             1               NaN                 0.06
 190              NaN             1               NaN                 0.80
 191              NaN             1               NaN                 0.02
 192              NaN             1               NaN              1248.00
 193          98364.0        224428           10649.0                43.30

 [194 rows x 9 columns],
 '23-3':              Country,  Total Cases  New Cases  Total Deaths  New Deaths  \
 0               China        81093       39.0        3270.0         9.0
 1               Italy        63927     4789.0        6077.0       601.0
 2                 USA        43734    10168.0         553.0       140.0
 3               Spain        35136     6368.0        2311.0       539.0
 4             Germany        29056     4183.0         123.0        29.0
 ..                ...          ...        ...           ...         ...
 192           Somalia            1        NaN           NaN         NaN
 193             Syria            1        NaN           NaN         NaN
 194       Timor-Leste            1        NaN           NaN         NaN
 195  Turks and Caicos            1        1.0           NaN         NaN
 196            Total:       378782    41332.0       16507.0      1875.0

      Total Recovered  Active Cases  Serious/Critical  Total Cases/ 1M pop  \
 0            72703.0          5120            1749.0                56.00
 1             7432.0         50418            3204.0              1057.00
 2              295.0         42886            1040.0               132.00
 3             3355.0         29470            2355.0               751.00
 4              453.0         28480              23.0               347.00
 ..               ...           ...               ...                  ...
 192              NaN             1               NaN                 0.06
 193              NaN             1               NaN                 0.06
 194              NaN             1               NaN                 0.80
 195              NaN             1               NaN                26.00
 196         101613.0        260662           12238.0                48.60

      Total Deaths per 1M pop
 0                        2.0
 1                      101.0
 2                        2.0
 3                       49.0
 4                        1.0
 ..                       ...
 192                      NaN
 193                      NaN
 194                      NaN
 195                      NaN
 196                      2.1

 [197 rows x 10 columns],
 '24-3':              Country,  Total Cases  New Cases  Total Deaths  New Deaths  \
 0               China        81171       78.0        3277.0         7.0
 1               Italy        69176     5249.0        6820.0       743.0
 2                 USA        54856    11075.0         780.0       225.0
 3               Spain        42058     6922.0        2991.0       680.0
 4             Germany        32991     3935.0         159.0        36.0
 ..                ...          ...        ...           ...         ...
 191           Somalia            1        NaN           NaN         NaN
 192             Syria            1        NaN           NaN         NaN
 193       Timor-Leste            1        NaN           NaN         NaN
 194  Turks and Caicos            1        NaN           NaN         NaN
 195            Total:       422527    43790.0       18890.0      2384.0

      Total Recovered  Active Cases  Serious/Critical  Total Cases/ 1M pop  \
 0            73159.0          4735            1573.0                56.00
 1             8326.0         54030            3393.0              1144.00
 2              379.0         53697            1175.0               166.00
 3             3794.0         35273            2636.0               900.00
 4             3290.0         29542              23.0               394.00
 ..               ...           ...               ...                  ...
 191              NaN             1               NaN                 0.06
 192              NaN             1               NaN                 0.06
 193              NaN             1               NaN                 0.80
 194              NaN             1               NaN                26.00
 195         108388.0        295249           13269.0                54.20

      Total Deaths per 1M pop
 0                        2.0
 1                      113.0
 2                        2.0
 3                       64.0
 4                        2.0
 ..                       ...
 191                      NaN
 192                      NaN
 193                      NaN
 194                      NaN
 195                      2.4

 [196 rows x 10 columns]}

In [37]:
# Show one of the df's in the dictionary
multple_sheets_1["20-3"]

,"Country,",Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Serious/Critical,Total Cases/ 1M pop
0,China,81008,41.0,3255.0,7.0,71740.0,6013,1927.0,56.00
1,Italy,47021,5986.0,4032.0,627.0,5129.0,37860,2655.0,778.00
2,Spain,21571,3494.0,1093.0,262.0,1588.0,18890,939.0,461.00
3,Germany,19848,4528.0,68.0,24.0,180.0,19600,2.0,237.00
4,Iran,19644,1237.0,1433.0,149.0,6745.0,11466,NaN,234.00
...,...,...,...,...,...,...,...,...,...
182,Somalia,1,NaN,NaN,NaN,NaN,1,NaN,0.06
183,St. Vincent Grenadines,1,NaN,NaN,NaN,NaN,1,NaN,9.00
184,Vatican City,1,NaN,NaN,NaN,NaN,1,NaN,1248.00
185,Zimbabwe,1,1.0,NaN,NaN,NaN,1,NaN,0.07
186,Total:,275597,30664.0,11387.0,1356.0,91573.0,172637,7911.0,35.40

In [39]:
# Show the keys of the dictionary
multple_sheets_1.keys()

dict_keys(['20-3', '21-3', '22-3', '23-3', '24-3'])

In [51]:
# Show the Total cases from the df for the key 23-3 (Using the dictionary we just made!)
# multple_sheets_1["23-3"] is a DataFrame

total_cases_23_3 = multple_sheets_1["23-3"]["Total Cases"] # df["Column Name"] which returns a Pandas series!
total_cases_23_3

# Then get the sum ,min and max values of the total cases from above
print(type(total_cases_23_3))

print("Sum of total cases: ", total_cases_23_3.sum() )
print("Min of total cases: ", total_cases_23_3.min() )
print("Max of total cases: ", total_cases_23_3.max() )

<class 'pandas.core.series.Series'>
Sum of total cases:  757564
Min of total cases:  1
Max of total cases:  378782

In [53]:
# We can use descibe() on any series
# Get the column of New Cases in the 24-3 df from the dictionary
multple_sheets_1["24-3"]["New Cases"].describe()

count      147.000000
mean       595.782313
std       3787.794351
min          1.000000
25%          5.000000
50%         21.000000
75%         94.500000
max      43790.000000
Name: New Cases, dtype: float64

In [58]:
# Read all of the sheets in the excel file at once
# To read all sheets supply the parameter of sheet_name=None
all_sheets = pd.read_excel(xls,sheet_name=None)

In [59]:
all_sheets # <- Is a dictionary of dataframes of all the sheets on the Excel File

{'Population':      Unnamed: 0 Country (or dependency)  Population  Yearly       Net  \
 0           NaN                     NaN       -2020  Change    Change
 1           1.0                   China  1439323776  0.0039   5540090
 2           2.0                   India  1380004385  0.0099  13586631
 3           3.0           United States   331002651  0.0059   1937734
 4           4.0               Indonesia   273523615  0.0107   2898047
 ..          ...                     ...         ...     ...       ...
 231       231.0              Montserrat        4992  0.0006         3
 232       232.0        Falkland Islands        3480  0.0305       103
 233       233.0                    Niue        1626  0.0068        11
 234       234.0                 Tokelau        1357  0.0127        17
 235       235.0                Holy See         801  0.0025         2

      Density Land Area Migrants Fert.  Med.  Urban   World
 0    (P/Km²)     (Km²)    (net)  Rate   Age  Pop %   Share
 1        153   9388211  -348399   1.7    38   0.61  0.1847
 2        464   2973190  -532687   2.2    28   0.35   0.177
 3         36   9147420   954806   1.8    38   0.83  0.0425
 4        151   1811570   -98955   2.3    30   0.56  0.0351
 ..       ...       ...      ...   ...   ...    ...     ...
 231       50       100      NaN  N.A.  N.A.    0.1       0
 232        0     12170      NaN  N.A.  N.A.   0.66       0
 233        6       260      NaN  N.A.  N.A.   0.46       0
 234      136        10      NaN  N.A.  N.A.      0       0
 235     2003         0      NaN  N.A.  N.A.   N.A.       0

 [236 rows x 12 columns],
 'Continents':                     Europe           North America          Asia  \
 0                    Spain                     USA         China
 1                    Italy                  Canada          Iran
 2                  Germany                  Mexico        Turkey
 3                   France                  Panama      S. Korea
 4                       UK      Dominican Republic        Israel
 5                  Belgium              Costa Rica         India
 6              Switzerland                    Cuba         Japan
 7              Netherlands                Honduras      Pakistan
 8                 Portugal              Martinique      Malaysia
 9                  Austria              Guadeloupe   Philippines
 10                  Russia     Trinidad and Tobago     Indonesia
 11                  Sweden             El Salvador  Saudi Arabia
 12                 Ireland               Guatemala           UAE
 13                  Norway                   Aruba      Thailand
 14                 Denmark                 Jamaica         Qatar
 15                 Czechia                Barbados     Singapore
 16                  Poland          Cayman Islands          Iraq
 17                 Romania                 Bahamas     Hong Kong
 18              Luxembourg            Sint Maarten       Armenia
 19                  Serbia                 Bermuda        Kuwait
 20                 Finland            Saint Martin       Bahrain
 21                  Greece                   Haiti    Azerbaijan
 22                 Ukraine     Antigua and Barbuda    Kazakhstan
 23                 Iceland                Dominica       Lebanon
 24                 Croatia                 Curaçao    Uzbekistan
 25                 Estonia             Saint Lucia        Cyprus
 26                 Moldova                 Grenada   Afghanistan
 27                Slovenia               Greenland          Oman
 28                 Belarus   Saint Kitts and Nevis        Taiwan
 29               Lithuania              Montserrat        Jordan
 30                 Hungary                  Belize    Kyrgyzstan
 31  Bosnia and Herzegovina        Turks and Caicos     Palestine
 32                Slovakia  St. Vincent Grenadines       Vietnam
 33         North Macedonia               Nicaragua    Bangladesh
 34                Bulgaria               St. Barth       Georgia
 35                  Latvia                Anguilla     Sri Lanka
 36                 Andorra  British Virgin Islands        Brunei
 37                 Albania   Caribbean Netherlands      Cambodia
 38         Channel Islands   Saint Pierre Miquelon         Macao
 39              San Marino                     NaN       Myanmar
 40                   Malta                     NaN         Syria
 41              Montenegro                     NaN      Maldives
 42          Faeroe Islands                     NaN      Mongolia
 43             Isle of Man                     NaN          Laos
 44               Gibraltar                     NaN         Nepal
 45                  Monaco                     NaN        Bhutan
 46           Liechtenstein                     NaN   Timor-Leste
 47            Vatican City                     NaN           NaN
 48                     NaN                     NaN           NaN
 49                     NaN                     NaN           NaN
 50                     NaN                     NaN           NaN
 51                     NaN                     NaN           NaN
 52                     NaN                     NaN           NaN
 53                     NaN                     NaN           NaN
 54                     NaN                     NaN           NaN
 55                     NaN                     NaN           NaN

        South America                 Africa           Oceania
 0             Brazil           South Africa         Australia
 1              Chile                Algeria       New Zealand
 2            Ecuador                  Egypt  French Polynesia
 3               Peru                Morocco     New Caledonia
 4           Colombia               Cameroon              Fiji
 5          Argentina                Tunisia  Papua New Guinea
 6            Uruguay           Burkina Faso               NaN
 7            Bolivia            Ivory Coast               NaN
 8          Venezuela                Réunion               NaN
 9           Paraguay                  Niger               NaN
 10     French Guiana                  Ghana               NaN
 11            Guyana                Nigeria               NaN
 12          Suriname              Mauritius               NaN
 13  Falkland Islands                Senegal               NaN
 14               NaN                Mayotte               NaN
 15               NaN                    DRC               NaN
 16               NaN                  Kenya               NaN
 17               NaN                 Guinea               NaN
 18               NaN               Djibouti               NaN
 19               NaN                 Rwanda               NaN
 20               NaN             Madagascar               NaN
 21               NaN                   Togo               NaN
 22               NaN                   Mali               NaN
 23               NaN               Ethiopia               NaN
 24               NaN                 Uganda               NaN
 25               NaN                  Congo               NaN
 26               NaN                 Zambia               NaN
 27               NaN                  Gabon               NaN
 28               NaN                Eritrea               NaN
 29               NaN          Guinea-Bissau               NaN
 30               NaN                Liberia               NaN
 31               NaN                  Benin               NaN
 32               NaN               Tanzania               NaN
 33               NaN                  Libya               NaN
 34               NaN                 Angola               NaN
 35               NaN      Equatorial Guinea               NaN
 36               NaN             Mozambique               NaN
 37               NaN                Namibia               NaN
 38               NaN                  Sudan               NaN
 39               NaN                Somalia               NaN
 40               NaN               Eswatini               NaN
 41               NaN               Zimbabwe               NaN
 42               NaN             Seychelles               NaN
 43               NaN                   Chad               NaN
 44               NaN                 Malawi               NaN
 45               NaN                    CAR               NaN
 46               NaN             Cabo Verde               NaN
 47               NaN           Sierra Leone               NaN
 48               NaN               Botswana               NaN
 49               NaN             Mauritania               NaN
 50               NaN                 Gambia               NaN
 51               NaN  Sao Tome and Principe               NaN
 52               NaN         Western Sahara               NaN
 53               NaN                Burundi               NaN
 54               NaN            South Sudan               NaN
 55               NaN                 Total:               NaN  ,
 'Jan':                   Country       Date  Total Cases  New Cases  Total Deaths  \
 0                   China 2020-01-21          278       60.0           3.0
 1                   Japan 2020-01-21            1        NaN           NaN
 2                   Korea 2020-01-21            1        NaN           NaN
 3                Thailand 2020-01-21            2        NaN           NaN
 4                   China 2020-01-22          309       31.0           6.0
 ..                    ...        ...          ...        ...           ...
 145                France 2020-01-31            6        1.0           NaN
 146               Finland 2020-01-31            1        NaN           NaN
 147               Germany 2020-01-31            5        1.0           NaN
 148                 Italy 2020-01-31            2        2.0           NaN
 149  United Arab Emerites 2020-01-31            4        NaN           NaN

      New Deaths  Recovered  Active  Serious  per 1m
 0           3.0        NaN   275.0      2.0     NaN
 1           NaN        NaN     1.0      NaN     NaN
 2           NaN        NaN     1.0      NaN     NaN
 3           NaN        NaN     2.0      NaN     NaN
 4           3.0        NaN   303.0     11.0     NaN
 ..          ...        ...     ...      ...     ...
 145         NaN        NaN     NaN      NaN     NaN
 146         NaN        NaN     NaN      NaN     NaN
 147         NaN        NaN     NaN      NaN     NaN
 148         NaN        NaN     NaN      NaN     NaN
 149         NaN        NaN     NaN      NaN     NaN

 [150 rows x 10 columns],
 'Feb':               Country       Date  Total Cases  New Cases  Total Deaths  \
 0               China 2020-02-01        11821     2100.0         259.0
 1           Hong Kong 2020-02-01           13        1.0           NaN
 2               Macau 2020-02-01            7        NaN           NaN
 3              Taipei 2020-02-01           10        1.0           NaN
 4               Japan 2020-02-01           17        3.0           NaN
 ..                ...        ...          ...        ...           ...
 920            Mexico 2020-02-29            2        2.0           NaN
 921            Brazil 2020-02-29            1        NaN           NaN
 922           Algeria 2020-02-29            1        NaN           NaN
 923           Nigeria 2020-02-29            1        NaN           NaN
 924  Diamond Princess 2020-02-29          705        NaN           6.0

      New Deaths  Recovered  Active  Serious  per 1m Unnamed: 10
 0          46.0        NaN     NaN   1795.0     NaN         NaN
 1           NaN        NaN     NaN      NaN     NaN         NaN
 2           NaN        NaN     NaN      NaN     NaN         NaN
 3           NaN        NaN     NaN      NaN     NaN         NaN
 4           NaN        NaN     NaN      NaN     NaN         NaN
 ..          ...        ...     ...      ...     ...         ...
 920         NaN        NaN     NaN      NaN     NaN         NaN
 921         NaN        NaN     NaN      NaN     NaN         NaN
 922         NaN        NaN     NaN      NaN     NaN         NaN
 923         NaN        NaN     NaN      NaN     NaN         NaN
 924         2.0        NaN     NaN      NaN     NaN         NaN

 [925 rows x 11 columns],
 'Mar 1-13':               Country       Date  Total Cases  New Cases  Total Deaths  \
 0               China 2020-03-01        79968      579.0        2873.0
 1               Korea 2020-03-01         3736      586.0          18.0
 2               Japan 2020-03-01          239        9.0           5.0
 3           Singapore 2020-03-01          102        4.0           NaN
 4           Australia 2020-03-01           25        1.0           NaN
 ..                ...        ...          ...        ...           ...
 750           Nigeria 2020-03-09            2        1.0           NaN
 751          Cameroon 2020-03-09            2        NaN           NaN
 752      South Africa 2020-03-09            3        1.0           NaN
 753              Togo 2020-03-09            1        NaN           NaN
 754  Diamond Princess 2020-03-09          696        NaN           7.0

      New Deaths  Recovered  Active  Serious  per 1m
 0          35.0        NaN     NaN      NaN     NaN
 1           1.0        NaN     NaN      NaN     NaN
 2           NaN        NaN     NaN      NaN     NaN
 3           NaN        NaN     NaN      NaN     NaN
 4           NaN        NaN     NaN      NaN     NaN
 ..          ...        ...     ...      ...     ...
 750         NaN        NaN     NaN      NaN     NaN
 751         NaN        NaN     NaN      NaN     NaN
 752         NaN        NaN     NaN      NaN     NaN
 753         NaN        NaN     NaN      NaN     NaN
 754         NaN        NaN     NaN      NaN     NaN

 [755 rows x 10 columns],
 '14-3':                 Country,           Unnamed: 1   Total    New Total.1   New.1  \
 0                  Other                 Date   Cases  Cases  Deaths  Deaths
 1                  China  2020-03-14 00:00:00   80824    NaN    3189     NaN
 2                  Italy  2020-03-14 00:00:00   21157   3497    1441     175
 3                   Iran  2020-03-14 00:00:00   12729   1365     611      97
 4               S. Korea  2020-03-14 00:00:00    8086    107      72       5
 ..                   ...                  ...     ...    ...     ...     ...
 149             Suriname  2020-03-14 00:00:00       1    NaN     NaN     NaN
 150             Eswatini  2020-03-14 00:00:00       1      1     NaN     NaN
 151                 Togo  2020-03-14 00:00:00       1    NaN     NaN     NaN
 152  U.S. Virgin Islands  2020-03-14 00:00:00       1      1     NaN     NaN
 153               Total:                  NaN  156433  10951    5821     392

        Total.2 Active  Serious, Tot Cases/  Unnamed: 10  Unnamed: 11  \
 0    Recovered  Cases  Critical     1M pop          NaN          NaN
 1        65573  12062      3610       56.2          NaN          NaN
 2         1966  17750      1518      349.9          NaN          NaN
 3         4339   7779       NaN      151.5          NaN          NaN
 4          714   7300        59      157.7          NaN          NaN
 ..         ...    ...       ...        ...          ...          ...
 149        NaN      1       NaN        NaN          NaN          NaN
 150        NaN      1       NaN        0.9          NaN          NaN
 151        NaN      1       NaN        0.1          NaN          NaN
 152        NaN      1       NaN        NaN          NaN          NaN
 153      74461  76151      5909       20.1          NaN          NaN

      Unnamed: 12
 0            NaN
 1            NaN
 2          368.0
 3            NaN
 4            NaN
 ..           ...
 149          NaN
 150          NaN
 151          NaN
 152          NaN
 153          NaN

 [154 rows x 13 columns],
 '15-3':                 Country,           Unnamed: 1   Total    New Total.1   New.1  \
 0                  Other                 Date   Cases  Cases  Deaths  Deaths
 1                  China  2020-03-14 00:00:00   80880     36    3213      14
 2                  Italy  2020-03-14 00:00:00   24747    NaN    1809     368
 3                   Iran  2020-03-14 00:00:00   14991   1053     853     129
 4                  Spain  2020-03-14 00:00:00    9428   1440     335      41
 ..                   ...                  ...     ...    ...     ...     ...
 160             Eswatini                  NaN       1    NaN     NaN     NaN
 161             Tanzania                  NaN       1      1     NaN     NaN
 162                 Togo                  NaN       1    NaN     NaN     NaN
 163  U.S. Virgin Islands                  NaN       1    NaN     NaN     NaN
 164               Total:                  NaN  175693   6133    6715     210

        Total.2 Active  Serious, Tot Cases/  Unnamed: 10  Unnamed: 11  \
 0    Recovered  Cases  Critical     1M pop          NaN          NaN
 1        67819   9848      3226       56.2          NaN          NaN
 2         2335  20603      1672      409.3          NaN          NaN
 3         4590   9548       NaN      178.5          NaN          NaN
 4          530   8563       272      201.6          NaN          NaN
 ..         ...    ...       ...        ...          ...          ...
 160        NaN      1       NaN        0.9          NaN          NaN
 161        NaN      1       NaN        NaN          NaN          NaN
 162        NaN      1       NaN        0.1          NaN          NaN
 163        NaN      1       NaN        NaN          NaN          NaN
 164      77868  91110      5967       22.5          NaN          NaN

                                            Unnamed: 12
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3    Need to get the accuarate data from the suitua...
 4    I got this the next morning, so not 100% accurate
 ..                                                 ...
 160                                                NaN
 161                                                NaN
 162                                                NaN
 163                                                NaN
 164                                                NaN

 [165 rows x 13 columns],
 '16-3':                 Country,           Unnamed: 1   Total    New Total.1   New.1  \
 0                  Other                 Date   Cases  Cases  Deaths  Deaths
 1                  China  2020-03-16 00:00:00   80880     20    3213     NaN
 2                  Italy  2020-03-16 00:00:00   27980   3233    2158     349
 3                   Iran  2020-03-16 00:00:00   14991   1053     853     129
 4                  Spain  2020-03-16 00:00:00    9942   1954     342      48
 ..                   ...                  ...     ...    ...     ...     ...
 160             Eswatini  2020-03-16 00:00:00       1    NaN     NaN     NaN
 161             Tanzania  2020-03-16 00:00:00       1      1     NaN     NaN
 162                 Togo  2020-03-16 00:00:00       1    NaN     NaN     NaN
 163  U.S. Virgin Islands  2020-03-16 00:00:00       1    NaN     NaN     NaN
 164               Total:                  NaN  182239  12664    7140     621

        Total.2 Active  Serious, Tot Cases/
 0    Recovered  Cases  Critical     1M pop
 1        67819   9848      3226       56.2
 2         2749  23073      1851        NaN
 3         4590   9548       NaN      178.5
 4          530   9070       272      212.6
 ..         ...    ...       ...        ...
 160        NaN      1       NaN        0.9
 161        NaN      1       NaN        NaN
 162        NaN      1       NaN        0.1
 163        NaN      1       NaN        NaN
 164      78340  96759      6162       23.4

 [165 rows x 10 columns],
 '17-3':      Reporting Country  Total confirmed cases  Total confirmed new cases  \
 0                China                  81116                         39

In [60]:
all_sheets.keys()

dict_keys(['Population', 'Continents', 'Jan', 'Feb', 'Mar 1-13', '14-3', '15-3', '16-3', '17-3', '18-3', '19-3', '20-3', '21-3', '22-3', '23-3', '24-3', '25-3', '26-3', '27-3', '28-3', '29-3', '30-3', '31-3', '1-4', '2-4', '3-4', '4-4', '5-4', '6-4', '7-4', '8-4', '9-4', '10-4', '11-4', '12-4', '13-4', '14-4', '15-4', '16-4', '17-4', '18-1', '19-4', '20-4', '21-4', '22-4', '23-4', '24-4', '25-4', '26-4', '27-4', '28-4', '29-4', '30-4', '1-5', '2-5', '3-5', '4-5', '5-5', '6-5', '7-5', '8-5', '9-5', '10-5', '11-5', '12-5', '13-5', '14-5', '15-5', '16-5', '17-5', '18-5', '19-5', '20-5', '21-5', '22-5', '23-5', '24-5', '25-5', '26-5', '27-5', '28-5', '29-5', '30-5', '31-5', '1-6', '2-6', '3-6', '4-6', '5-6', '6-6', '7-6', '8-6', '9-6', '10-6', '11-6', '12-6', '13-6', '14-6'])

In [61]:
xls.sheet_names # The keys in the dictionary are the same as the sheet names.

['Population',
 'Continents',
 'Jan',
 'Feb',
 'Mar 1-13',
 '14-3',
 '15-3',
 '16-3',
 '17-3',
 '18-3',
 '19-3',
 '20-3',
 '21-3',
 '22-3',
 '23-3',
 '24-3',
 '25-3',
 '26-3',
 '27-3',
 '28-3',
 '29-3',
 '30-3',
 '31-3',
 '1-4',
 '2-4',
 '3-4',
 '4-4',
 '5-4',
 '6-4',
 '7-4',
 '8-4',
 '9-4',
 '10-4',
 '11-4',
 '12-4',
 '13-4',
 '14-4',
 '15-4',
 '16-4',
 '17-4',
 '18-1',
 '19-4',
 '20-4',
 '21-4',
 '22-4',
 '23-4',
 '24-4',
 '25-4',
 '26-4',
 '27-4',
 '28-4',
 '29-4',
 '30-4',
 '1-5',
 '2-5',
 '3-5',
 '4-5',
 '5-5',
 '6-5',
 '7-5',
 '8-5',
 '9-5',
 '10-5',
 '11-5',
 '12-5',
 '13-5',
 '14-5',
 '15-5',
 '16-5',
 '17-5',
 '18-5',
 '19-5',
 '20-5',
 '21-5',
 '22-5',
 '23-5',
 '24-5',
 '25-5',
 '26-5',
 '27-5',
 '28-5',
 '29-5',
 '30-5',
 '31-5',
 '1-6',
 '2-6',
 '3-6',
 '4-6',
 '5-6',
 '6-6',
 '7-6',
 '8-6',
 '9-6',
 '10-6',
 '11-6',
 '12-6',
 '13-6',
 '14-6']

In [66]:
# Get the index of the value "1-6" from the list xls.sheet_names
index_1_6 = xls.sheet_names.index("1-6")
index_1_6

84

In [67]:
# Get all the sheets from the 1-6 up to the last sheet
# xls.sheet_names is a list of the sheet name. Use slicing

dict_june_dfs = pd.read_excel(xls, sheet_name=xls.sheet_names[index_1_6:])
dict_june_dfs

{'1-6':                    Country  Total Cases  New Cases  Total Deaths  New Deaths  \
 0                      USA      1859323    22153.0      106925.0       730.0
 1                   Brazil       529405    14556.0       30046.0       732.0
 2                   Russia       414878     9035.0        4855.0       162.0
 3                    Spain       286718      209.0       27127.0         NaN
 4                       UK       276332     1570.0       39045.0       111.0
 ..                     ...          ...        ...           ...         ...
 211              St. Barth            6        NaN           NaN         NaN
 212               Anguilla            3        NaN           NaN         NaN
 213                Lesotho            2        NaN           NaN         NaN
 214  Saint Pierre Miquelon            1        NaN           NaN         NaN
 215                 Total:      6363196   103946.0      377190.0      3053.0

      Total Recovered  Active Cases  Serious/Critical  Total Cases/ 1M pop  \
 0           615416.0     1136982.0           16949.0               5620.0
 1           211080.0      288279.0            8318.0               2492.0
 2           175877.0      234146.0            2300.0               2843.0
 3                NaN           NaN             617.0               6133.0
 4                NaN           NaN            1559.0               4072.0
 ..               ...           ...               ...                  ...
 211              6.0           0.0               NaN                608.0
 212              3.0           0.0               NaN                200.0
 213              1.0           1.0               NaN                  0.9
 214              1.0           0.0               NaN                173.0
 215        2900380.0     3085626.0           53407.0                816.3

      Total Deaths/ 1M pop  Total Tests  Tests/1M pop
 0                   323.0   18150053.0       54859.0
 1                   141.0     930013.0        4378.0
 2                    33.0   10923108.0       74852.0
 3                   580.0    4063843.0       86921.0
 4                   575.0    4285738.0       63158.0
 ..                    ...          ...           ...
 211                   NaN        137.0       13873.0
 212                   NaN         41.0        2735.0
 213                   NaN        283.0         132.0
 214                   NaN          NaN           NaN
 215                  48.4          NaN           NaN

 [216 rows x 12 columns],
 '2-6':                    Country  Total Cases  New Cases  Total Deaths  New Deaths  \
 0                      USA      1881205    21882.0      108059.0      1134.0
 1                   Brazil       556668    27263.0       31278.0      1232.0
 2                   Russia       423741     8863.0        5037.0       182.0
 3                    Spain       287012      294.0       27127.0         NaN
 4                       UK       277985     1653.0       39369.0       324.0
 ..                     ...          ...        ...           ...         ...
 211              St. Barth            6        NaN           NaN         NaN
 212               Anguilla            3        NaN           NaN         NaN
 213                Lesotho            2        NaN           NaN         NaN
 214  Saint Pierre Miquelon            1        NaN           NaN         NaN
 215                 Total:      6441282   115215.0      381859.0      4669.0

      Total Recovered  Active Cases  Serious/Critical  Total Cases/ 1M pop  \
 0           645974.0     1127172.0           17114.0               5686.0
 1           240627.0      284763.0            8318.0               2620.0
 2           186985.0      231719.0            2300.0               2904.0
 3                NaN           NaN             617.0               6139.0
 4                NaN           NaN            1559.0               4097.0
 ..               ...           ...               ...                  ...
 211              6.0           0.0               NaN                608.0
 212              3.0           0.0               NaN                200.0
 213              1.0           1.0               NaN                  0.9
 214              1.0           0.0               NaN                173.0
 215        3007581.0     3051842.0           54527.0                826.4

      Total Deaths/ 1M pop  Total Tests  Tests/1M pop   Population
 0                   327.0   18603174.0       56228.0  330854064.0
 1                   147.0     930013.0        4378.0  212442762.0
 2                    35.0   11151622.0       76418.0  145929848.0
 3                   580.0    4063843.0       86921.0   46753443.0
 4                   580.0    4615146.0       68011.0   67858826.0
 ..                    ...          ...           ...          ...
 211                   NaN        137.0       13873.0       9875.0
 212                   NaN         41.0        2735.0      14993.0
 213                   NaN        283.0         132.0    2140931.0
 214                   NaN          NaN           NaN       5796.0
 215                  49.0          NaN           NaN          NaN

 [216 rows x 13 columns],
 '3-6':                    Country  Total Cases  New Cases  Total Deaths  New Deaths  \
 0                      USA      1901783    20578.0      109142.0      1083.0
 1                   Brazil       583980    27312.0       32547.0      1269.0
 2                   Russia       432277     8536.0        5215.0       178.0
 3                    Spain       287406      394.0       27128.0         1.0
 4                       UK       279856     1871.0       39728.0       359.0
 ..                     ...          ...        ...           ...         ...
 211              St. Barth            6        NaN           NaN         NaN
 212                Lesotho            4        2.0           NaN         NaN
 213               Anguilla            3        NaN           NaN         NaN
 214  Saint Pierre Miquelon            1        NaN           NaN         NaN
 215                 Total:      6562696   121414.0      386787.0      4928.0

      Total Recovered  Active Cases  Serious/Critical  Total Cases/ 1M pop  \
 0           688670.0     1103971.0           16939.0               5748.0
 1           266132.0      285301.0            8318.0               2749.0
 2           195957.0      231105.0            2300.0               2962.0
 3                NaN           NaN             617.0               6147.0
 4                NaN           NaN            1559.0               4124.0
 ..               ...           ...               ...                  ...
 211              6.0           0.0               NaN                608.0
 212              2.0           2.0               NaN                  2.0
 213              3.0           0.0               NaN                200.0
 214              1.0           0.0               NaN                173.0
 215        3161280.0     3014629.0           54202.0                841.9

      Total Deaths/ 1M pop  Total Tests  Tests/1M pop   Population
 0                   330.0   19096671.0       57718.0  330859357.0
 1                   153.0     930013.0        4378.0  212446884.0
 2                    36.0   11426045.0       78298.0  145930019.0
 3                   580.0    4063843.0       86921.0   46753492.0
 4                   585.0    4786219.0       70531.0   67859798.0
 ..                    ...          ...           ...          ...
 211                   NaN        137.0       13873.0       9875.0
 212                   NaN       1515.0         708.0    2140977.0
 213                   NaN         41.0        2735.0      14993.0
 214                   NaN          NaN           NaN       5796.0
 215                  49.6          NaN           NaN          NaN

 [216 rows x 13 columns],
 '4-6':                    Country  Total Cases  New Cases  Total Deaths  New Deaths  \
 0                      USA      1940315    22819.0      110415.0      1032.0
 1                   Brazil       615870    31890.0       34039.0      1492.0
 2                   Russia       441108     8831.0        5384.0       169.0
 3                    Spain       287740      334.0       27133.0         5.0
 4                       UK       281661     1805.0       39904.0       176.0
 ..                     ...          ...        ...           ...         ...
 211              St. Barth            6        NaN           NaN         NaN
 212                Lesotho            4        NaN           NaN         NaN
 213               Anguilla            3        NaN           NaN         NaN
 214  Saint Pierre Miquelon            1        NaN           NaN         NaN
 215                 Total:      6709832   130511.0      392540.0      5512.0

      Total Recovered  Active Cases  Serious/Critical  Total Cases/ 1M pop  \
 0           712252.0     1117648.0           17083.0               5864.0
 1           274997.0      306834.0            8318.0               2899.0
 2           204623.0      231101.0            2300.0               3023.0
 3                NaN           NaN             617.0               6154.0
 4                NaN           NaN             604.0               4151.0
 ..               ...           ...               ...                  ...
 211              6.0           0.0               NaN                608.0
 212              2.0           2.0               NaN                  2.0
 213              3.0           0.0               NaN                200.0
 214              1.0           0.0               NaN                173.0
 215        3242111.0     3075181.0           53602.0                860.8

      Total Deaths/ 1M pop  Total Tests  Tests/1M pop   Population
 0                   334.0   19568069.0       59141.0  330869944.0
 1                   160.0     986365.0        4643.0  212455128.0
 2                    37.0   11733051.0       80402.0  145930359.0
 3                   580.0    4063843.0       86920.0   46753591.0
 4                   588.0    5005565.0       73761.0   67861743.0
 ..                    ...          ...           ...          ...
 211                   NaN        137.0       13873.0       9875.0
 212                   NaN       1515.0         708.0    2141070.0
 213                   NaN         41.0        2734.0      14994.0
 214                   NaN          NaN           NaN       5796.0
 215                  50.4          NaN           NaN          NaN

 [216 rows x 13 columns],
 '5-6':                    Country  Total Cases  New Cases  Total Deaths  New Deaths  \
 0                      USA      1965708    25393.0      111390.0       975.0
 1                   Brazil       646006    30136.0       35047.0      1008.0
 2                   Russia       449834     8726.0        5528.0       144.0
 3                    Spain       288058      318.0       27134.0         1.0
 4                       UK       283311     1650.0       40261.0       357.0
 ..                     ...          ...        ...           ...         ...
 211              St. Barth            6        NaN           NaN         NaN
 212                Lesotho            4        NaN           NaN         NaN
 213               Anguilla            3        NaN           NaN         NaN
 214  Saint Pierre Miquelon            1        NaN           NaN         NaN
 215                 Total:      6840321   130489.0      397446.0      4906.0

      Total Recovered  Active Cases  Serious/Critical  Total Cases/ 1M pop  \
 0           738646.0     1115672.0           17121.0               5941.0
 1           288652.0      322307.0            8318.0               3041.0
 2           212680.0      231626.0            2300.0               3083.0
 3                NaN           NaN             617.0               6161.0
 4                NaN           NaN             604.0               4175.0
 ..               ...           ...               ...                  ...
 211              6.0           0.0               NaN                608.0
 212              2.0           2.0               NaN                  2.0
 213              3.0           0.0               NaN                200.0
 214              1.0           0.0               NaN                173.0
 215        3332058.0     3110817.0           53576.0                877.5

      Total Deaths/ 1M pop  Total Tests  Tests/1M pop   Population
 0                   337.0   20267335.0       61255.0  330869944.0
 1                   165.0     986365.0        4643.0  212455128.0
 2                    38.0   12053663.0       82599.0  145930359.0
 3                   580.0    4063843.0       86920.0   46753591.0
 4                   593.0    5214277.0       76837.0   67861743.0
 ..                    ...          ...           ...          ...
 211                   NaN        137.0       13873.0       9875.0
 212                   NaN       1515.0         708.0    2141070.0
 213                   NaN         41.0        2734.0      14994.0
 214                   NaN          NaN           NaN       5796.0
 215                  51.0          NaN           NaN          NaN

 [216 rows x 13 columns],
 '6-6':                    Country  Total Cases  New Cases  Total Deaths  New Deaths  \
 0                      USA      1988544    22836.0      112096.0       706.0
 1                   Brazil       673587    27581.0       35957.0       910.0
 2                   Russia       458689     8855.0        5725.0       197.0
 3                    Spain       288390      332.0       27135.0         1.0
 4                       UK       284868     1557.0       40465.0       204.0
 ..                     ...          ...        ...           ...         ...
 211              St. Barth            6        NaN           NaN         NaN
 212                Lesotho            4        NaN           NaN         NaN
 213               Anguilla            3        NaN           NaN         NaN
 214  Saint Pierre Miquelon            1        NaN           NaN         NaN
 215                 Total:      6969122   128677.0      401699.0      4253.0

      Total Recovered  Active Cases  Serious/Critical  Total Cases/ 1M pop  \
 0           751695.0     1124753.0           17021.0               6010.0
 1           302084.0      335546.0            8318.0               3170.0
 2           221388.0      231576.0            2300.0               3143.0
 3                NaN           NaN             617.0               6168.0
 4                NaN           NaN             604.0               4198.0
 ..               ...           ...               ...                  ...
 211              6.0           0.0               NaN                608.0
 212              2.0           2.0               NaN                  2.0
 213              3.0           0.0               NaN                200.0
 214              1.0           0.0               NaN                173.0
 215        3408325.0     3159098.0           53587.0                894.1

      Total Deaths/ 1M pop  Total Tests  Tests/1M pop   Population
 0                   339.0   20818428.0       62919.0  330875237.0
 1                   169.0     999836.0        4706.0  212459250.0
 2                    39.0   12388968.0       84896.0  145930530.0
 3                   580.0    4063843.0       86920.0   46753640.0
 4                   596.0    5438712.0       80143.0   67862715.0
 ..                    ...          ...           ...          ...
 211                   NaN        137.0       13873.0       9875.0
 212                   NaN       1515.0         708.0    2141116.0
 213                   NaN         41.0        2734.0      14994.0
 214                   NaN          NaN           NaN       5796.0
 215                  51.5          NaN           NaN          NaN

 [216 rows x 13 columns],
 '7-6':                    Country  Total Cases  New Cases  Total Deaths  New Deaths  \
 0                      USA      2007449    18905.0      112469.0       373.0
 1                   Brazil       691962    18375.0       36499.0       542.0
 2                   Russia       467673     8984.0        5859.0       134.0
 3                    Spain       288630      240.0       27136.0         1.0
 4                       UK       286194     1326.0       40542.0        77.0
 ..                     ...          ...        ...           ...         ...
 211              St. Barth            6        NaN           NaN         NaN
 212                Lesotho            4        NaN           NaN         NaN
 213               Anguilla            3        NaN           NaN         NaN
 214  Saint Pierre Miquelon            1        NaN           NaN         NaN
 215                 Total:      7082735   113551.0      405083.0      3385.0

      Total Recovered  Active Cases  Serious/Critical  Total Cases/ 1M pop  \
 0           761708.0     1133272.0           16923.0               6067.0
 1           302084.0      353379.0            8318.0               3257.0
 2           226731.0      235083.0            2300.0               3205.0
 3                NaN           NaN             617.0               6173.0
 4                NaN           NaN             604.0               4217.0
 ..               ...           ...               ...                  ...
 211              6.0           0.0               NaN                608.0
 212              2.0           2.0               NaN                  2.0
 213              3.0           0.0               NaN                200.0
 214              1.0           0.0               NaN                173.0
 215        3456944.0     3220708.0           53752.0                908.6

      Total Deaths/ 1M pop  Total Tests  Tests/1M pop   Population
 0                   340.0   21291677.0       64348.0  330885824.0
 1                   172.0     999836.0        4706.0  212467494.0
 2                    40.0   12721549.0       87175.0  145930871.0
 3                   580.0    4063843.0       86920.0   46753739.0
 4                   597.0    5581073.0       82238.0   67864660.0
 ..                    ...          ...           ...          ...
 211                   NaN        137.0       13873.0       9875.0
 212                   NaN       1515.0         708.0    2141209.0
 213                   NaN         41.0        2734.0      14995.0
 214                   NaN          NaN           NaN       5796.0
 215                  52.0          NaN           NaN          NaN

 [216 rows x 13 columns],
 '8-6':                    Country  Total Cases  New Cases  Total Deaths  New Deaths  \
 0                      USA      2026493    19044.0      113055.0       586.0
 1                   Brazil       710887    18925.0       37312.0       813.0
 2                   Russia       476658     8985.0        5971.0       112.0
 3                    Spain       288797      167.0       27136.0         NaN
 4                       UK       287399     1205.0       40597.0        55.0
 ..                     ...          ...        ...           ...         ...
 211              St. Barth            6        NaN           NaN         NaN
 212                Lesotho            4        NaN           NaN         NaN
 213               Anguilla            3        NaN           NaN         NaN
 214  Saint Pierre Miquelon            1        NaN           NaN         NaN
 215                 Total:      7190447   107712.0      408240.0      3157.0

      Total Recovered  Active Cases  Serious/Critical  Total Cases/ 1M pop  \
 0           773480.0     1139958.0           16907.0               6124.0
 1           325602.0      347973.0            8318.0               3346.0
 2           230688.0      239999.0            2300.0               3266.0
 3                NaN           NaN             617.0               6177.0