In [99]:
import pandas as pd

In [100]:
# Make an object that contains the details of the excel sheets in an excel file.
xls = pd.ExcelFile("Coronavirus data.xlsx")

In [101]:
# This return a list of the excel sheet names in the Excel File
type(xls.sheet_names)

list

In [102]:
# How many sheets are in the excel file?
len(xls.sheet_names)

98

In [103]:
# Get the 3rd last sheet name in the excel file
print("The third last sheet is called: " , xls.sheet_names[-3])

The third last sheet is called:  12-6

In [104]:
# Find the index of the value "19-3" in the xls.sheet_names list
# list.index(<value) returns the index where the value is first found in the list
# If the value is not found a ValueError is raised
try:
    index = xls.sheet_names.index("19-3")
    print("Index of '19-3' in the sheet_names list is: ", index)
except ValueError: # Catching a sepcific exception
    print("The value was not found in the list of sheet_names")

Index of '19-3' in the sheet_names list is:  10

In [105]:
# Using the list of sheets (xls.sheet_names) read in the sheet for the 19-3 as a pandas dataframe
# an show it.

# The read excel method can take either an ExcelFile object or a file name 
# as sting as the first parameter (xls is an ExcelFile object)
# header=[0,1] means that we expect the first two rows of the excel to be the header
# header=[0,1] is a list of the rows that are to be used as the header
df1 = pd.read_excel(xls,sheet_name=index, header=[0,1])
# df1 = pd.read_excel("Coronavirus data.xlsx", sheet_name="19-3") # Alternate way

df1

,"Country,",Total,New,Total,New,Total,Active,"Serious,",Tot Cases/
,Other,Cases,Cases,Deaths,Deaths,Recovered,Cases,Critical,1M pop
0,China,80928,34.0,3245.0,8.0,70420.0,7263,2274.0,56.00
1,Italy,41035,5322.0,3405.0,427.0,4440.0,33190,2498.0,679.00
2,Iran,18407,1046.0,1284.0,149.0,5979.0,11144,NaN,219.00
3,Spain,18077,3308.0,831.0,193.0,1107.0,16139,939.0,387.00
4,Germany,15320,2993.0,44.0,16.0,115.0,15161,2.0,183.00
...,...,...,...,...,...,...,...,...,...
176,Somalia,1,NaN,NaN,NaN,NaN,1,NaN,0.06
177,Suriname,1,NaN,NaN,NaN,NaN,1,NaN,2.00
178,Eswatini,1,NaN,NaN,NaN,NaN,1,NaN,0.90
179,Togo,1,NaN,NaN,NaN,NaN,1,NaN,0.10
180,Total:,244894,26106.0,10028.0,1085.0,87408.0,147458,7520.0,31.40

In [106]:
# Lets look at the dataframe (column) indexes
df1.columns

MultiIndex([(  'Country,',     'Other'),
            (     'Total',     'Cases'),
            (       'New',     'Cases'),
            (     'Total',    'Deaths'),
            (       'New',    'Deaths'),
            (     'Total', 'Recovered'),
            (    'Active',     'Cases'),
            (  'Serious,',  'Critical'),
            ('Tot Cases/',    '1M pop')],
           )

In [117]:
# Because we use multiindexs we should specify the column name a tuple
df1[('Total','Cases')]

0       80928
1       41035
2       18407
3       18077
4       15320
        ...
176         1
177         1
178         1
179         1
180    244894
Name: (Total, Cases), Length: 181, dtype: int64

In [125]:
# How dow I get the Country column from the df1?

# Get the values stored in the df's 4th column using the MultiIndex
# reteived by indexing in to the df 'columns' attribute
df1.columns[3]

('Total', 'Deaths')

#### How can we get the just the row where the country is equal to the USA?

In [124]:
# As a dataframe (which has multi-indexes)
type(df1[ df1[('Country,','Other')] == "USA" ])

pandas.core.frame.DataFrame

In [128]:
# Get a df of the rows where country is equals to USA
df_usa_19_3 = df1[ df1[('Country,','Other')] == "USA" ]
df_usa_19_3

  Country,  Total     New  Total    New     Total Active Serious, Tot Cases/
     Other  Cases   Cases Deaths Deaths Recovered  Cases Critical     1M pop
5      USA  13789  4530.0  207.0   57.0     108.0  13474     64.0       42.0

### Make another new dataframe and specify a column to be the index of the df

In [130]:
# index_col -> Column (0-indexed) to use as the row labels of the DataFrame.
df2 = pd.read_excel(xls,sheet_name=index,index_col=0, header=[0,1])
df2

"Country,",Total,New,Total,New,Total,Active,"Serious,",Tot Cases/
Other,Cases,Cases,Deaths,Deaths,Recovered,Cases,Critical,1M pop
China,80928,34.0,3245.0,8.0,70420.0,7263,2274.0,56.00
Italy,41035,5322.0,3405.0,427.0,4440.0,33190,2498.0,679.00
Iran,18407,1046.0,1284.0,149.0,5979.0,11144,NaN,219.00
Spain,18077,3308.0,831.0,193.0,1107.0,16139,939.0,387.00
Germany,15320,2993.0,44.0,16.0,115.0,15161,2.0,183.00
...,...,...,...,...,...,...,...,...
Somalia,1,NaN,NaN,NaN,NaN,1,NaN,0.06
Suriname,1,NaN,NaN,NaN,NaN,1,NaN,2.00
Eswatini,1,NaN,NaN,NaN,NaN,1,NaN,0.90
Togo,1,NaN,NaN,NaN,NaN,1,NaN,0.10
Total:,244894,26106.0,10028.0,1085.0,87408.0,147458,7520.0,31.40

In [139]:
# Get the row of data for the USA from the df2 df.
usa_data = df2.loc["USA"]
usa_data

Country,    Other
Total       Cases        13789.0
New         Cases         4530.0
Total       Deaths         207.0
New         Deaths          57.0
Total       Recovered      108.0
Active      Cases        13474.0
Serious,    Critical        64.0
Tot Cases/  1M pop          42.0
Name: USA, dtype: float64

In [138]:
type(df2.loc["USA"])

pandas.core.series.Series

In [141]:
# This series will have Multiindexes (as opposed to numeric indexes)
usa_data.index

MultiIndex([(     'Total',     'Cases'),
            (       'New',     'Cases'),
            (     'Total',    'Deaths'),
            (       'New',    'Deaths'),
            (     'Total', 'Recovered'),
            (    'Active',     'Cases'),
            (  'Serious,',  'Critical'),
            ('Tot Cases/',    '1M pop')],
           names=['Country,', 'Other'])