In [1]:
# Using the coronaviurs excel file
# Read the sheets, 14-3, 15-3,16-3 in to df's
# Set the Country column as the index for the df's
# Then get the data for the USA from each df

import pandas as pd

xls = pd.ExcelFile("Coronavirus_Data.xlsx")

# usecols to not include any extra row in the excel sheet
# We skipped the first row for good measure
df_14_3 = pd.read_excel(xls, sheet_name="14-3", index_col=0 , usecols="A:J", skiprows=1)

In [2]:
df_15_3 = pd.read_excel(xls, sheet_name="15-3", index_col=0 , usecols="A:J", skiprows=1)
df_15_3

,Date,Cases,Cases.1,Deaths,Deaths.1,Recovered,Cases.2,Critical,1M pop
Other,,,,,,,,,
China,2020-03-15,80880,36.0,3213.0,14.0,67819.0,9848,3226.0,56.2
Italy,2020-03-15,24747,NaN,1809.0,368.0,2335.0,20603,1672.0,409.3
Iran,2020-03-15,14991,1053.0,853.0,129.0,4590.0,9548,NaN,178.5
Spain,2020-03-15,9428,1440.0,335.0,41.0,530.0,8563,272.0,201.6
S. Korea,2020-03-15,8236,74.0,75.0,NaN,1137.0,7024,59.0,160.6
...,...,...,...,...,...,...,...,...,...
Eswatini,NaT,1,NaN,NaN,NaN,NaN,1,NaN,0.9
Tanzania,NaT,1,1.0,NaN,NaN,NaN,1,NaN,NaN
Togo,NaT,1,NaN,NaN,NaN,NaN,1,NaN,0.1
U.S. Virgin Islands,NaT,1,NaN,NaN,NaN,NaN,1,NaN,NaN
Total:,NaT,175693,6133.0,6715.0,210.0,77868.0,91110,5967.0,22.5

In [3]:
df_16_3 = pd.read_excel(xls, sheet_name="16-3", index_col=0 , usecols="A:J", skiprows=1)
df_16_3

,2020-03-16 00:00:00,80880,20,3213,Unnamed: 5,67819,9848,3226,56.2
China,,,,,,,,,
Italy,2020-03-16,27980,3233.0,2158.0,349.0,2749.0,23073,1851.0,NaN
Iran,2020-03-16,14991,1053.0,853.0,129.0,4590.0,9548,NaN,178.5
Spain,2020-03-16,9942,1954.0,342.0,48.0,530.0,9070,272.0,212.6
S. Korea,2020-03-16,8236,74.0,75.0,NaN,1137.0,7024,59.0,160.6
Germany,2020-03-16,7241,1428.0,15.0,2.0,65.0,7161,2.0,86.4
...,...,...,...,...,...,...,...,...,...
Suriname,2020-03-16,1,NaN,NaN,NaN,NaN,1,NaN,NaN
Eswatini,2020-03-16,1,NaN,NaN,NaN,NaN,1,NaN,0.9
Tanzania,2020-03-16,1,1.0,NaN,NaN,NaN,1,NaN,NaN
Togo,2020-03-16,1,NaN,NaN,NaN,NaN,1,NaN,0.1
U.S. Virgin Islands,2020-03-16,1,NaN,NaN,NaN,NaN,1,NaN,NaN

In [4]:
usa_data1 = df_14_3.loc["USA"]
usa_data1 # Series with the data from the row with index "USA"

Date         2020-03-14 00:00:00
Cases                       2836
Cases.1                      589
Deaths                        57
Deaths.1                       8
Recovered                     49
Cases.2                     2730
Critical                      10
1M pop                       8.6
Name: USA, dtype: object

In [5]:
usa_data2 = df_15_3.loc["USA"]
usa_data2 # Series with the data from the row with index "USA"

Date         2020-03-15 00:00:00
Cases                       4040
Cases.1                      360
Deaths                        70
Deaths.1                       2
Recovered                     73
Cases.2                     3897
Critical                      12
1M pop                      12.2
Name: USA, dtype: object

In [6]:
usa_data3 = df_16_3.loc["USA"]
usa_data3 # Series with the data from the row with index "USA"

2020-03-16 00:00:00    2020-03-16 00:00:00
80880                                 4597
20                                     917
3213                                    86
Unnamed: 5                              18
67819                                   74
9848                                  4437
3226                                    12
56.2                                  13.9
Name: USA, dtype: object

In [7]:
# BONUS: Combine the USA data from each series into a single dataframe
df_usa = pd.DataFrame([usa_data1,usa_data2,usa_data3])
df_usa

,Date,Cases,Cases.1,Deaths,Deaths.1,Recovered,Cases.2,Critical,1M pop,2020-03-16 00:00:00,80880,20,3213,Unnamed: 5,67819,9848,3226,56.2
USA,2020-03-14,2836.0,589.0,57.0,8.0,49.0,2730.0,10.0,8.6,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
USA,2020-03-15,4040.0,360.0,70.0,2.0,73.0,3897.0,12.0,12.2,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
USA,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-16,4597.0,917.0,86.0,18.0,74.0,4437.0,12.0,13.9

In [8]:
# Reset the indexes to defualt numeric indexes
# Must use the inplace=True parameter to change the actual dataframe
# (Other a new dataframe is returned)
df_usa.reset_index(inplace=True)

In [9]:
# Lets rename the columns to more suitbale names
new_names ={
    "index":"Country",
    "Date": "Date",
    "Cases" : "Total Cases",
    "Cases.1": "New Cases",
    "Deaths" : "Total Deaths",
    "Deaths.1" : "New Deaths",
    "Recovered" : "Total Recovered",
    "Cases.2" : "Active Cases",
    "Critical" : "Serious / Critical",
    "1M pop" : "Total Cases / 1M pop"
}
df_usa = df_usa.rename(columns=new_names)
df_usa

,Country,Date,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Serious / Critical,Total Cases / 1M pop,2020-03-16 00:00:00,80880,20,3213,Unnamed: 5,67819,9848,3226,56.2
0,USA,2020-03-14,2836.0,589.0,57.0,8.0,49.0,2730.0,10.0,8.6,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USA,2020-03-15,4040.0,360.0,70.0,2.0,73.0,3897.0,12.0,12.2,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USA,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-16,4597.0,917.0,86.0,18.0,74.0,4437.0,12.0,13.9

In [10]:
# Returns a new DataFrame
df_usa.T
# or df_usa.transpose()

,0,1,2
Country,USA,USA,USA
Date,2020-03-14 00:00:00,2020-03-15 00:00:00,NaT
Total Cases,2836,4040,NaN
New Cases,589,360,NaN
Total Deaths,57,70,NaN
New Deaths,8,2,NaN
Total Recovered,49,73,NaN
Active Cases,2730,3897,NaN
Serious / Critical,10,12,NaN
Total Cases / 1M pop,8.6,12.2,NaN
2020-03-16 00:00:00,NaT,NaT,2020-03-16 00:00:00
80880,NaN,NaN,4597
20,NaN,NaN,917
3213,NaN,NaN,86
Unnamed: 5,NaN,NaN,18
67819,NaN,NaN,74
9848,NaN,NaN,4437
3226,NaN,NaN,12
56.2,NaN,NaN,13.9

In [11]:
df_usa.dtypes
#df_usa.at[1,'Date'] = ('2020/03/15')
#pd.to_datetime(df_usa.Date)
#df_usa.dtypes

Country                         object
Date                    datetime64[ns]
Total Cases                    float64
New Cases                      float64
Total Deaths                   float64
New Deaths                     float64
Total Recovered                float64
Active Cases                   float64
Serious / Critical             float64
Total Cases / 1M pop           float64
2020-03-16 00:00:00     datetime64[ns]
80880                          float64
20                             float64
3213                           float64
Unnamed: 5                     float64
67819                          float64
9848                           float64
3226                           float64
56.2                           float64
dtype: object

In [12]:
# Change the date in row one of the df_usa to 2020-03-15# df.at[] or df.iat[] = We can use these to get or set a value in cells in a dataframe
# Set the values of the row 1 Date column cell to a Timestamp (datetime) object that represents # the date 15-03-2020
# pandas.Timestamp() is equivalent to the standard Python datetime type from the datetime library. 
#df_usa.at[1,"Date"] = pd.Timestamp(year=2020, month=3, day=15)df_usa
only_day = df_usa['Date'].dt.day
only_day

0    14.0
1    15.0
2     NaN
Name: Date, dtype: float64

### Make a plot of the Date (x values) against the Total Cases, Total Deaths.
### Use two differnec colored lines
### HINT: Get columns as a series.

In [13]:
import matplotlib.pyplot as plt
#plt.tight_layout()

In [14]:
plt.style.available

['bmh',
 'classic',
 'dark_background',
 'fast',
 'fivethirtyeight',
 'ggplot',
 'grayscale',
 'seaborn-bright',
 'seaborn-colorblind',
 'seaborn-dark-palette',
 'seaborn-dark',
 'seaborn-darkgrid',
 'seaborn-deep',
 'seaborn-muted',
 'seaborn-notebook',
 'seaborn-paper',
 'seaborn-pastel',
 'seaborn-poster',
 'seaborn-talk',
 'seaborn-ticks',
 'seaborn-white',
 'seaborn-whitegrid',
 'seaborn',
 'Solarize_Light2',
 'tableau-colorblind10',
 '_classic_test']

In [15]:

%matplotlib inline
d = df_usa['Date']
#date = ['14.3.20','15.3.20','16.3.20']
NewCases = df_usa['New Cases']
NewDeaths = df_usa['New Deaths']
plt.style.use('seaborn-ticks')


#plt.figure(figsize=(14,8))
plt.plot(d,NewCases,color = 'red',linestyle =':',linewidth = 2,marker = 'd',label = 'New Cases')
plt.plot(d,NewDeaths,color = 'blue',linewidth = 2,label = 'New Deaths')

#plt.plot(date,totalDeaths,color = '#fc4f30',label = 'Total Deaths')
plt.title ('USA covid 19 stats for 3 days in March',size = 14,fontweight ='500',color = 'magenta')
plt.xlabel('Date')
plt.ylabel('Cases')

plt.legend(loc= 'upper left')
plt.xticks (ticks = d)

#plt.xscale('log')
#plt.yscale('log')
plt.grid(True)
plt.show()

C:\Anacoda\lib\site-packages\matplotlib\dates.py:283: RuntimeWarning: invalid value encountered in double_scalars
  ix, remainder = divmod(x, 1)

ValueError: cannot convert float NaN to integer

In [ ]:
df_14