## **<font color = 'orange'>tfidf for the 3 documents**

In [1]:
# Function to convert/split text to words
def text_to_words(text):
    import re
    # [12], [1], [123] <- Wiki citation char sequences
    # \[\d+\]
    # 's
    text = re.sub("\(|\)|\[\d+\]|('s)", "", text)
    # Match a single space " " OR ", " (comma and a space)
    split_pattern = " |, |-|\n|\."
    text = re.split(split_pattern, text)    
    # Only keep terms that are alphabetic characters
    text = [word for word in text if word.isalpha()]
    print(f"The text has been converted to {len(text)} words.")
    
    return text

In [2]:
def read_all_text(filename):
    with open(filename, encoding="utf-8") as f:
        print(f"\n\nReading contents of file: {filename}")
        return f.read().lower()

spacex_text = read_all_text("spacex.txt")
spacex_words = text_to_words(spacex_text)

# Get all the words for the blue origin and virgin galactic files
blue_origin_text = read_all_text("blue-origin.txt")
blue_origin_words = text_to_words(blue_origin_text)

virgin_galactic_text = read_all_text("virgin-galactic.txt")
virgin_galactic_words = text_to_words(virgin_galactic_text)

Reading contents of file: spacex.txt
The text has been converted to 5014 words.


Reading contents of file: blue-origin.txt
The text has been converted to 4875 words.


Reading contents of file: virgin-galactic.txt
The text has been converted to 2643 words.

**<font color = 'orange'> do the tf for the words**

In [3]:
def frequency (words):
    unique_words = list(set(words))
    
    word_freq = {}

    for word in words:
        count = word_freq.get(word, 0)
        word_freq[word] = count + 1
    return word_freq

In [4]:
freq_spacex = frequency(spacex_words) 
freq_blue_o = frequency(blue_origin_words) 
freq_virgin_g = frequency(virgin_galactic_words) 
#freq_spacex

**<font color = 'orange'> making dataframes**

**<font color = 'magenta'> spacex document**

In [5]:
import pandas as pd

df_spacex = pd.DataFrame(freq_spacex.items(), columns = ["Word","Frequency"])

# Add a column
df_spacex["Document Name"] = "Spacex.txt"

# Change the order of the columns
df_spacex = df_spacex[["Document Name","Word","Frequency"]]

spacex_word_count = len(spacex_words)

# Add the TF (Term Frequency) column
# TF = (number of occurances of term) / (total number of terms in the doc)
df_spacex["TF"] = df_spacex["Frequency"]/spacex_word_count

# adding Document Frequency column 
doc_freqs = []
# Looping through the words from the df (which ensures that my counts will also be in the correct order)
for word in df_spacex["Word"]:
    doc_freq_count = 0 
    if word in spacex_words:
        doc_freq_count += 1
    if word in virgin_galactic_words:
        doc_freq_count += 1
    if word in blue_origin_words:
        doc_freq_count += 1
    # Add the doc frequency count of the that word to the list
    doc_freqs.append(doc_freq_count)

# Add the DF colum and values to 
df_spacex["DF"] = doc_freqs

# adding the last column 
import math

# Lsit to hold calcualted TF-IDF values for each word in the dataframe
tf_idf_spacex = []

# Our collection has 3 docs 
num_docs_in_corpus = 3 

for row in df_spacex.values:
    # Get the current rows TF value
    tf = row[3]
    # Get the current rows DF value
    doc_freq = row[4]   
    # Calculate the TF-IDF value
    tf_idf = tf * math.log(num_docs_in_corpus / doc_freq)
    # Add that calculated value ourt list
    tf_idf_spacex.append(tf_idf)

# Add out Calculated TF-IDF values to our datafraame as a new column
df_spacex["TF-IDF"] = tf_idf_spacex

df_spacex.sort_values("TF-IDF", ascending=False,inplace=True, ignore_index=True)
df_spacex.head(10)

  Document Name           Word  Frequency        TF  DF    TF-IDF
0    Spacex.txt         dragon         41  0.008177   1  0.008983
1    Spacex.txt         spacex        108  0.021540   2  0.008734
2    Spacex.txt           musk         34  0.006781   1  0.007450
3    Spacex.txt         falcon         59  0.011767   2  0.004771
4    Spacex.txt           mars         19  0.003789   1  0.004163
5    Spacex.txt  international         16  0.003191   1  0.003506
6    Spacex.txt       starship         13  0.002593   1  0.002848
7    Spacex.txt          cargo         12  0.002393   1  0.002629
8    Spacex.txt           demo         12  0.002393   1  0.002629
9    Spacex.txt          stage         30  0.005983   2  0.002426

**<font color = 'magenta'> blue origin document**

In [12]:
df_blue = pd.DataFrame(freq_blue_o.items(), columns=["Word","Frequency"])

# Add a column
df_blue["Document Name"] = "Blue Origin.txt"

# Change the order of the columns
df_blue= df_blue[["Document Name","Word","Frequency"]]

blue_word_count = len(blue_origin_words)

# Add the TF (Term Frequency) column
# TF = (number of occurances of term) / (total number of terms in the doc)
df_blue["TF"] = df_blue["Frequency"]/blue_word_count

# adding Document Frequency column 
doc_freqs = []
# Looping through the words from the df (which ensures that my counts will also be in the correct order)
for word in df_blue["Word"]:
    doc_freq_count = 0 
    if word in spacex_words:
        doc_freq_count += 1
    if word in virgin_galactic_words:
        doc_freq_count += 1
    if word in blue_origin_words:
        doc_freq_count += 1
    # Add the doc frequency count of the that word to the list
    doc_freqs.append(doc_freq_count)

# Add the DF colum and values to 
df_blue["DF"] = doc_freqs

# adding the last column 
import math

# Lsit to hold calcualted TF-IDF values for each word in the dataframe
tf_idf_blue = []

# Our collection has 3 docs 
num_docs_in_corpus = 3 

for row in df_blue.values:
    # Get the current rows TF value
    tf = row[3]
    # Get the current rows DF value
    doc_freq = row[4]   
    # Calculate the TF-IDF value
    tf_idf = tf * math.log(num_docs_in_corpus / doc_freq)
    # Add that calculated value ourt list
    tf_idf_blue.append(tf_idf)

# Add out Calculated TF-IDF values to our datafraame as a new column
df_blue["TF-IDF"] = tf_idf_blue

df_blue.sort_values("TF-IDF", ascending=False,inplace=True, ignore_index=True)
df_blue.head(10)

     Document Name     Word  Frequency        TF  DF    TF-IDF
0  Blue Origin.txt   origin         92  0.018872   1  0.020733
1  Blue Origin.txt     blue        105  0.021538   2  0.008733
2  Blue Origin.txt  shepard         38  0.007795   1  0.008564
3  Blue Origin.txt    bezos         20  0.004103   1  0.004507
4  Blue Origin.txt    glenn         14  0.002872   1  0.003155
5  Blue Origin.txt   lander         10  0.002051   1  0.002254
6  Blue Origin.txt      ula          9  0.001846   1  0.002028
7  Blue Origin.txt  booster         24  0.004923   2  0.001996
8  Blue Origin.txt       ft         22  0.004513   2  0.001830
9  Blue Origin.txt     jeff          7  0.001436   1  0.001577

**<font color = 'magenta'> virgin galactica document**

In [7]:
df_virgin = pd.DataFrame(freq_virgin_g.items(), columns=["Word","Frequency"])

# Add a column
df_virgin["Document Name"] = "Virgin Galactica.txt"

# Change the order of the columns
df_virgin= df_virgin[["Document Name","Word","Frequency"]]

virgin_word_count = len(virgin_galactic_words)

# Add the TF (Term Frequency) column
# TF = (number of occurances of term) / (total number of terms in the doc)
df_virgin["TF"] = df_virgin["Frequency"] / virgin_word_count

# adding Document Frequency column 
doc_freqs = []
# Looping through the words from the df (which ensures that my counts will also be in the correct order)
for word in df_virgin["Word"]:
    doc_freq_count = 0 
    if word in spacex_words:
        doc_freq_count += 1
    if word in virgin_galactic_words:
        doc_freq_count += 1
    if word in blue_origin_words:
        doc_freq_count += 1
    # Add the doc frequency count of the that word to the list
    doc_freqs.append(doc_freq_count)

# Add the DF colum and values to 
df_virgin["DF"] = doc_freqs

# adding the last column 
import math

# Lsit to hold calcualted TF-IDF values for each word in the dataframe
tf_idf_virgin = []

# Our collection has 3 docs 
num_docs_in_corpus = 3 

for row in df_virgin.values:
    # Get the current rows TF value
    tf = row[3]
    # Get the current rows DF value
    doc_freq = row[4]   
    # Calculate the TF-IDF value
    tf_idf = tf * math.log(num_docs_in_corpus / doc_freq)
    # Add that calculated value ourt list
    tf_idf_virgin.append(tf_idf)

# Add out Calculated TF-IDF values to our datafraame as a new column
df_virgin["TF-IDF"] = tf_idf_virgin

df_virgin.sort_values("TF-IDF", ascending=False,inplace=True, ignore_index=True)
df_virgin.head(10)

          Document Name          Word  Frequency        TF  DF    TF-IDF
0  Virgin Galactica.txt        virgin         44  0.016648   1  0.018289
1  Virgin Galactica.txt      galactic         27  0.010216   1  0.011223
2  Virgin Galactica.txt       branson         19  0.007189   1  0.007898
3  Virgin Galactica.txt  spaceshiptwo         17  0.006432   1  0.007066
4  Virgin Galactica.txt           vss         13  0.004919   1  0.005404
5  Virgin Galactica.txt        scaled          9  0.003405   1  0.003741
6  Virgin Galactica.txt         unity          9  0.003405   1  0.003741
7  Virgin Galactica.txt       richard          9  0.003405   1  0.003741
8  Virgin Galactica.txt    composites          8  0.003027   1  0.003325
9  Virgin Galactica.txt         group          8  0.003027   1  0.003325

**<font color = 'orange'> join 3 data frames together**

In [8]:
df_2 = df_spacex.append(df_blue)

In [9]:
big_df = df_2.append(df_virgin)

In [10]:
big_df.sample(20)

big_df[big_df['Word']=='spacex']

      Document Name    Word  Frequency        TF  DF    TF-IDF
1        Spacex.txt  spacex        108  0.021540   2  0.008734
60  Blue Origin.txt  spacex          7  0.001436   2  0.000582

In [11]:
big_df[big_df['Word'] == 'blue']

            Document Name  Word  Frequency        TF  DF    TF-IDF
1         Blue Origin.txt  blue        105  0.021538   2  0.008733
522  Virgin Galactica.txt  blue          1  0.000378   2  0.000153

In [14]:
print(len(df_blue))
print(len(df_spacex))
print(len(df_virgin))

1092
1211
935